/* VARIABLES */
:root{
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  // --main-font-weight : #{$weight};
  /* --main-line-height : 1.5; */
}


$grean-color:#5FB4A2;
$darc-blue: #203A4C;
$Grayish-Dark:#33323D;
$red:#F43030;
$grey:#EAEAEB;